@use '../start_abstract' as *;

body{
    font-family: $website-font;
}

.main_h1{
    @include mar-padd0;
    color: $light-gray;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.3;
    text-transform: capitalize;
    max-width: 100%;
    overflow-wrap: break-word;
}

@media (min-width: #{$width-small-tablets}) {
*{
    font-size: 20px;
}

    .main_h1{
        text-align: center;
       
    }

   
}

@media (min-width: #{$width-big-tablets}) {
    *{
        font-size: 25px;
    }
    .main_h1{
        padding: 0 3.1em 0 3.1em;
       
    }
        
    }

    @media (min-width: #{$width-desktop}) {
        *{
            font-size: 30px;
        }
        .main_h1{
            padding: 0 3em 0 3em;
        }
            
        }