@use '../start_abstract' as *;

body{
    font-family: $website-font;
}

.main_h1{
    @include mar-padd0;
    color: $light-gray;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.3;
    text-transform: capitalize;
    max-width: 100%;
    overflow-wrap: break-word;
}