
$color-azul: blue;
$color-aqua: aqua;
$color-hueso: rgb(255, 253, 245);
$color-negro: rgb(0, 0, 0);
$color-blanco: rgb(255, 255, 255);
$main-font: "Poppins", sans-serif;
$classic-font: 'Roboto';

$light-gray: #F9F9FA;
$dark-gray: #E0E3E7;
$white: #F9F9FA;
$tras: #f9f9fa00;
$green: #2CC8AA;
$black:rgb(0, 0, 0);
$pu: rgb(255, 182, 250);