$website-font: 'Poppins', sans-serif;
/*$width-mobile: ;*/
$width-small-tablets: 620px;
$width-big-tablets: 960px;
$width-desktop: 1200px;
/*Coloers*/
$light-gray: #F9F9FA;
$dark-gray: #E0E3E7;
$white: #F9F9FA;
$tras: #f9f9fa00;
$green: #2CC8AA;
$black:rgb(0, 0, 0);
$pu: rgb(255, 182, 250);

